RABBITMQ_URL=amqp://admin:admin@rabbitmq:5672

DATABASE_DSN=appuser:secretpassword@tcp(eden-mysql:3306)/eden?charset=utf8mb4&parseTime=True&loc=Local

UID=1000
GID=1000

LOG_PATH=./var/logs

RABBITMQ_URL=amqp://admin:admin@stream-message:5672
EDEN_EXCHANGE_NAME=eden_exchange
EDEN_QUEUE_NAME=eden_queue